name: test
on: [push, pull_request]

env:
  GOPROXY: https://proxy.golang.org,direct

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.20.x, 1.21.x]
        redis-version: [5.x, 6.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Redis
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: ${{ matrix.redis-version }}
          auto-start: "false"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: go test ./... -v -cover

      - name: Data Race
        run: go test ./... -race

  golangci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
